body {
   margin: 0;
   font-family: "Roboto", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}

#wrapper {
   width: 100%;
   min-height: 100vh;
   background-color: #1f2937;
   color: #f9faf8;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Navigation */
.navigation {
   display: flex;
   width: 1000px;
   height: 60px;
   align-items: center;
   justify-content: space-between;
}

.nav-links {
   list-style: none;
   display: flex;
   gap: 25px;
   padding: 0;
}

.nav-links li a {
   text-decoration: none;
   color: #e5e7eb;
   font-size: 18px;
}

.logo {
   font-size: 24px;
   font-weight: 800;
}

/* Header */
.hero-section {
   display: flex;
   gap: 60px;
   width: 1000px;
   height: 225px;
   padding: 120px 0;
}

.hero-text {
   width: 450px;
   height: 225px;
}

.hero-text h1 {
   font-size: 48px;
   color: #f9faf8;
   font-weight: 900;
   margin: 0;
}

.hero-text p {
   font-size: 18px;
   font-weight: 400;
   color: #e5e7eb;
   margin: 0;
}

.hero-image {
   width: 500px;
   height: 225px;
   object-fit: cover;
}

.landing-button {
   background-color: #3882f6;
   color: #ffffff;
   font-size: 18px;
   font-weight: 900;
   padding: 8px 32px;
   border: none;
   border-radius: 8px;
   margin-top: 12px;
}

/* info section */
.information {
   height: 500px;
   width: 100%;
   background-color: white;
}

.information h2 {
   color: #1f2937;
   font-size: 36px;
   text-align: center;
   margin: 50px 0;
}

.info-cards {
   display: flex;
   gap: 50px;
   justify-content: center;
}

.card {
   display: flex;
   flex-direction: column;
   width: 166px;
   text-align: center;
   gap: 10px;
}

.info-image {
   height: 160px;
   width: 160px;
   border: 3px solid #3882f6;
   border-radius: 18px;
   object-fit: cover;
}

.image-caption {
   color: #46505e;
   font-size: 18px;
   font-weight: 400;
   margin: 0;
}

/* Quote */
.quote {
   width: 100%;
   background-color: #e5e7eb;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #1F2937;
   padding: 115px 0;
}

.main-quote {
   max-width: 780px;
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   margin: 0;
}

.author {
   width: 700px;
   font-size: 23px;
   font-weight: bold;
   text-align: right;
   margin: 0;
}

/* Call to action */
.call-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 0;
   background-color: #ffffff;
}

.call-to-action {
   width: 920px;
   background-color: #3882f6;
   display: flex;
   padding: 50px;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   gap: 150px;
}

.call-to-action button {
   border: 2px solid #ffffff;
   margin: 0;
}

.call-text {
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.call-text h2 {
   margin: 0;
}

.call-text p {
   margin: 0;
   color: #e5e7eb;
   font-size: 18px;
}

/* Footer */

footer {
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-text {
   color: #e5e7eb;
   font-size: 18px;
   font-weight: 300;
}